h1{
    color:lightgreen;
    background-color: violet;
    cursor: pointer;
}

body{
    background-color: black;
    border: 5px solid violet;
    height:100%;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}